:root {
    --primary-color: #66BFBF;
    --primary-color-dark: #11999E;
    --text-light: #EAF6F6;
    --text-med-dark: #8da5a1;
    --text-dark: #40514E;
}

body {
    color: var(--text-dark);
    margin: 0;
    font-family: 'Zilla Slab', serif;
}

h1 {
    color: var(--primary-color);
    font-family: 'Dawning of a New Day', cursive;
    font-size: clamp(4rem, 20vw, 5.645rem);
    font-weight: bold;
}

h2 {
    color: var(--primary-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: clamp(2rem, 10vw, 2.5rem);
    margin: 3rem 0;
    text-align: center;
}

h3 {
    color: var(--primary-color-dark);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: .6em 0;
}

h4 {
    color: var(--primary-color-dark);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    margin: 0.3em 0;
}

p {
    line-height: 1.7;
}

ul li {
    text-indent: -1.1em;
    padding-left: 1.1em;
    line-height: 1.7;

    &::before {
        content: "✽ ";
        color: var(--primary-color);
        width: 1.1em;
    }
}

.container {
    padding: 1em;
}

.hr {
    &-main {
        border: none;
        border-bottom: 6px dotted var(--text-light);
        width: 10%;
        margin: 3em auto;
    }

    &-sub {
        border: none;
        border-bottom: 6px double var(--text-light);
        margin: 2em auto;
    }
}

// header

header {
    background-color: var(--text-light);
    position: relative;
    text-align: center;
    padding-top: 8em;

    .container {
        padding: 0;
    }
}

.top-cloud {
        position: absolute;
        top: 4em;
        left: 7%;
}

.title-text {
    .pro {
        text-decoration: underline;
    }

    h2 {
        margin-top: 1.5rem;
    }
}

.btm-cloud {
        position: absolute;
        top: 19em;
        right: 5%;
}

.mountain {
    width: 100%;
}

// main

section.profile {
    text-align: center;
    
    img {
        width: clamp(100px, 40%, 170px);
    }
}

.project {

    &-img {
        display: block;
        width: 70%;
        margin: 0 auto 1em;
        box-shadow: 1px 1px 2px 2px var(--text-light);
    }

    &-right {
        display: none;
    }
}

.work-exp {

    &-dates {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 0.8em;
        color: var(--text-med-dark);
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    h3, h4, &-dates {
        margin: 0.1em 0;
    }

    p {
        margin: 1em 0;
    }

    &-location {
        font-size: 0.8em;
        font-weight: bold;
        text-decoration: underline;
        line-height: 1.15;

        &::before {
            content: url("../images/internet-access.svg");
            display: inline-block;
            vertical-align: middle;
            height: 1.15rem;
            width: 1.15rem;
        }
    }
}

article.skill-row {
    margin: 3em 0;
    overflow: hidden;
    img {
        width: clamp(100px, 25%, 150px);
    }

    &:nth-child(even)>img {
        float: left;
        margin-right: 1.5em;
    }
    &:nth-child(odd)>img {
        float: right;
        margin-left: 1.5em;
    }
}

section.contact-me {
    text-align: center;
    
    .btn {
        display: table;
        background: var(--primary-color-dark);
        background-image: linear-gradient(top, var(--primary-color-dark), var(--primary-color));
        border: 2px solid var(--primary-color-dark);
        border-radius: .5em;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.2em;
        padding: .5em .8em;
        margin: 1em auto;

        &:hover {
            background: white;
            color: var(--primary-color-dark);
            font-weight: bold;
        }
    }
}

// footer

footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    line-height: 2;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 10%;
    
    &-item {
        color: var(--primary-color-dark);
        font-family: 'Roboto Condensed', sans-serif;
        display: inline-block;

        &:hover {
            color: var(--text-light);
        }
    }
}

@media only screen and (min-width: 700px) {
    .project {

        &-item {
            display: flex;
            gap: 2em
        }

        &-left {
            display: flex;
            flex-direction: column;
            gap: 1.5em;
        }
        
        &-right {
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            margin: 0.6em 0;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        width: 1000px;
        margin: auto;
    }

    .work-exp-row {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 1em;

        h3, h4 {
            align-self: center;
        }

        .work-exp-dates, p {
            margin-top: 0;
            line-height: 1.7rem;
        }

        .work-exp-location {
            grid-column: 2;
        }
    }

}