@charset "UTF-8";
:root {
  --primary-color: #66BFBF;
  --primary-color-dark: #11999E;
  --text-light: #EAF6F6;
  --text-med-dark: #8da5a1;
  --text-dark: #40514E;
}

body {
  color: var(--text-dark);
  margin: 0;
  font-family: 'Zilla Slab', serif;
}

h1 {
  color: var(--primary-color);
  font-family: 'Dawning of a New Day', cursive;
  font-size: clamp(4rem, 20vw, 5.645rem);
  font-weight: bold;
}

h2 {
  color: var(--primary-color);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: clamp(2rem, 10vw, 2.5rem);
  margin: 3rem 0;
  text-align: center;
}

h3 {
  color: var(--primary-color-dark);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  margin: .6em 0;
}

h4 {
  color: var(--primary-color-dark);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  margin: 0.3em 0;
}

p {
  line-height: 1.7;
}

ul li {
  text-indent: -1.1em;
  padding-left: 1.1em;
  line-height: 1.7;
}

ul li::before {
  content: "✽ ";
  color: var(--primary-color);
  width: 1.1em;
}

.container {
  padding: 1em;
}

.hr-main {
  border: none;
  border-bottom: 6px dotted var(--text-light);
  width: 10%;
  margin: 3em auto;
}

.hr-sub {
  border: none;
  border-bottom: 6px double var(--text-light);
  margin: 2em auto;
}

header {
  background-color: var(--text-light);
  position: relative;
  text-align: center;
  padding-top: 8em;
}

header .container {
  padding: 0;
}

.top-cloud {
  position: absolute;
  top: 4em;
  left: 7%;
}

.title-text .pro {
  text-decoration: underline;
}

.title-text h2 {
  margin-top: 1.5rem;
}

.btm-cloud {
  position: absolute;
  top: 19em;
  right: 5%;
}

.mountain {
  width: 100%;
}

section.profile {
  text-align: center;
}

section.profile img {
  width: clamp(100px, 40%, 170px);
}

.project-img {
  display: block;
  width: 70%;
  margin: 0 auto 1em;
  -webkit-box-shadow: 1px 1px 2px 2px var(--text-light);
          box-shadow: 1px 1px 2px 2px var(--text-light);
}

.project-right {
  display: none;
}

.work-exp-dates {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.8em;
  color: var(--text-med-dark);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.work-exp h3, .work-exp h4, .work-exp-dates {
  margin: 0.1em 0;
}

.work-exp p {
  margin: 1em 0;
}

.work-exp-location {
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.15;
}

.work-exp-location::before {
  content: url("../images/internet-access.svg");
  display: inline-block;
  vertical-align: middle;
  height: 1.15rem;
  width: 1.15rem;
}

article.skill-row {
  margin: 3em 0;
  overflow: hidden;
}

article.skill-row img {
  width: clamp(100px, 25%, 150px);
}

article.skill-row:nth-child(even) > img {
  float: left;
  margin-right: 1.5em;
}

article.skill-row:nth-child(odd) > img {
  float: right;
  margin-left: 1.5em;
}

section.contact-me {
  text-align: center;
}

section.contact-me .btn {
  display: table;
  background: var(--primary-color-dark);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary-color-dark)), to(var(--primary-color)));
  background-image: linear-gradient(top, var(--primary-color-dark), var(--primary-color));
  border: 2px solid var(--primary-color-dark);
  border-radius: .5em;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  padding: .5em .8em;
  margin: 1em auto;
}

section.contact-me .btn:hover {
  background: white;
  color: var(--primary-color-dark);
  font-weight: bold;
}

footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  line-height: 2;
  text-align: center;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10%;
}

.footer-links-item {
  color: var(--primary-color-dark);
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
}

.footer-links-item:hover {
  color: var(--text-light);
}

@media only screen and (min-width: 700px) {
  .project-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2em;
  }
  .project-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5em;
  }
  .project-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5em;
    margin: 0.6em 0;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 1000px;
    margin: auto;
  }
  .work-exp-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -webkit-column-gap: 1em;
            column-gap: 1em;
  }
  .work-exp-row h3, .work-exp-row h4 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .work-exp-row .work-exp-dates, .work-exp-row p {
    margin-top: 0;
    line-height: 1.7rem;
  }
  .work-exp-row .work-exp-location {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}
